google-cloud-bigquery===1.26.1
numpy==1.18.4
pandas==1.0.4
requests==2.23.0
spotipy==2.12.0
twitter==1.18.0
--index-url https://louison:rs_louison_2020@pypi.rapsodiedata.com
rapsodie-platforms==0.3.14