--extra-index-url https://louison:rs_louison_2020@pypi.rapsodiedata.com
google-cloud-bigquery===1.26.1
numpy==1.18.4
pandas==1.0.4
requests==2.23.0
spotipy==2.16.1
twitter==1.18.0
rapsodie-platforms==0.3.42
rapsodie-dsci==0.0.5.2